/* Changing Susy default global settings */
/*
$susy: (
	columns: 12, // Tells Susy to use 12 columns
	gutters: 1/4, // Tells Susy dimension of empty space between an element's boundaries and the element's content
	gutter-position: after,
	container: auto, // Tells Susy that the container has a max-width of 1120px
	global-box-sizing: border-box
);*/
/* #### SELECT stilizzate (selectize) come ad es. Taglia/Colore #### */
/* line 273, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_mixins.scss */
[class^="arrow-down"],
[class*=" arrow-down"] {
  width: 0;
  height: 0;
  position: relative;
  display: block;
  margin: 0 auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #000;
}

/* line 157, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_mixins.scss */
section.grid:before, section.grid:after {
  content: ' ';
  display: table;
}
/* line 162, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_mixins.scss */
section.grid:after {
  clear: both;
}

/* line 7, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
article.slot {
  float: left;
  overflow: hidden;
}
/* line 10, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
article.slot a:not([href]) {
  cursor: default;
}

/* line 14, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.oneSlot {
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}
/* line 19, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.oneSlot.static {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
/* line 25, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.oneSlot img {
  display: block;
  width: 100%;
  position: absolute;
}
/* line 30, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.oneSlot .headline {
  font-family: "franklin-gothic-condensed";
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.075em;
  line-height: 1em;
  color: #fff;
  text-shadow: 0px 0px 2px #191919;
  display: block;
}
/* line 158, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_variables.scss */
.jp .oneSlot .headline {
  font-family: "franklin-gothic-condensed", Arial, Helvetica, "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", sans-serif;
}
/* line 39, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.oneSlot .bodycopy {
  display: none;
  font-family: "trade-gotich-medium";
  font-weight: normal;
  line-height: 1em;
  margin: 0 auto;
  padding: 0 35px;
  color: #fff;
  text-shadow: 0px 0px 2px #191919;
}
/* line 151, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_variables.scss */
.jp .oneSlot .bodycopy {
  font-family: "trade-gotich-medium", Arial, Helvetica, "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", sans-serif;
}
/* line 48, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.oneSlot .ctabutton {
  font-family: "franklin-gothic-condensed";
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  min-width: 130px;
  height: 40px;
  line-height: 38px;
  margin: 10px 5px 0;
  padding: 0 5px;
  color: #fff;
  border: 3px solid #fff;
  text-shadow: 0px 0px 2px #191919;
}
/* line 158, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_variables.scss */
.jp .oneSlot .ctabutton {
  font-family: "franklin-gothic-condensed", Arial, Helvetica, "Hiragino Kaku Gothic ProN", Meiryo, "MS PGothic", sans-serif;
}
/* line 69, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_mixins.scss */
.oneSlot .ctabutton:hover, .oneSlot .ctabutton:active {
  text-shadow: none;
}
/* line 72, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_mixins.scss */
.oneSlot .ctabutton a {
  display: block;
}
/* line 74, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_mixins.scss */
.oneSlot .ctabutton a:hover, .oneSlot .ctabutton a:active {
  text-shadow: none;
}
/* line 83, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_mixins.scss */
.oneSlot .ctabutton:hover, .oneSlot .ctabutton:active {
  background-color: #fff;
  color: #191919;
}
/* line 87, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_mixins.scss */
.oneSlot .ctabutton a {
  color: #fff;
}
/* line 89, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_mixins.scss */
.oneSlot .ctabutton a:hover, .oneSlot .ctabutton a:active {
  background-color: #fff;
  color: #191919;
}
/* line 51, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.oneSlot.withLink .slotContent p {
  cursor: pointer;
}

@-moz-document url-prefix() {
  /* line 56, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
  .oneSlot .ctabutton {
    line-height: 36px;
    /* firefox */
  }
}
/* line 60, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.slotContent {
  position: absolute;
  bottom: 37px;
  width: 100%;
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
  /* line 66, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
  #wrapper {
    margin-top: 100px;
  }

  /* line 70, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
  .oneSlot .headline {
    font-size: 42px;
  }
  /* line 73, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
  .oneSlot .bodycopy {
    display: block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.018em;
    padding: 3px 45px 6px;
  }

  /* line 81, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
  .slotContent {
    bottom: 27px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 87, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
  .oneSlot .headline {
    font-size: 60px;
  }
  /* line 90, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
  .oneSlot .bodycopy {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.024em;
    padding: 0 75px 4px;
  }

  /* line 98, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
  .slotContent {
    bottom: 57px;
  }
}
/* line 102, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.frontImageWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 107, D:/Code/Stores/yTos-DIESEL/yTos.Web.DIESEL/Content/Styles/sass/desktop/common/_grid.scss */
.frontImageInner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/*# sourceMappingURL=subhome.css.map */
