// ===============================
// CHOOSE YOUR COUNTRY PAGE STYLES
// ===============================
@import "variables";
@import "fonts";
@import "Desktop/callToActions";

#mapcontainer {
  padding-top: 32px;
}

.nations {
  @extend %knockout-bold;
  font-size: $size-large;
  text-transform: uppercase;
  
  li {
  	line-height: 29px;
  }
}

h1 {
	color: $color-light;
	font-size: 4em;
	padding-bottom: 15px;
}

#moreCountries {
	margin-bottom: 13px;
	padding: 13px 0 0;
	color: $color-light;
	font-size: $size-tiny;
	@extend %helvetica;
}

.fieldLabel{
  display: none;
}

//Layer other countries in CYC
.otherCountriesLayer {
	width: 380px;
	height: 300px;
	margin: 15px;

	.intro {
		margin-bottom: 10px;
	}

	.intro .text {
		font-size: $size-medium;
	}

	button {
		@extend button.primary;
		width: 100%;
		margin-top: 20px;
	}
}
