@charset "UTF-8";
/*
    zindex
    Mixin di definizione e utilizzo degli z-index.

    La lista $indexes è crescente dall'alto al basso, e i suoi elementi andranno espressi al momento dell'uso del mixin.
    Ovviamente l'uso da farne è di tipo semantico, per evitare l'espressione di numeri casuali all'interno dei vari css.

*/
/* effetto height:100% sugli elementi flottanti */
@font-face {
  font-family: 'KnockoutLight';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.svg#KnockoutLight") format("svg");
}
@font-face {
  font-family: 'KnockoutRegular';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.svg#KnockoutRegular") format("svg");
}
@font-face {
  font-family: 'HelveticaCondensedLight';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.svg#KnockoutRegular") format("svg");
}
@font-face {
  font-family: 'HelveticaCondensedBold';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.svg#KnockoutRegular") format("svg");
}
@font-face {
  font-family: 'LatoRegular';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.svg#LatoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBold';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.svg#LatoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 96, ../../../sass/_fonts.scss */
.RU #genderNav a, #genderNav .RU a {
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
}

/* line 110, ../../../sass/_fonts.scss */
#genderNav a {
  font-family: KnockoutRegular, Arial, Verdana, sans-serif;
  font-weight: normal;
}
/* line 114, ../../../sass/_fonts.scss */
.JP #genderNav a, #genderNav .JP a {
  font-family: KnockoutRegular, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}
/* line 115, ../../../sass/_fonts.scss */
.CN #genderNav a, #genderNav .CN a {
  font-family: KnockoutLight, HelveticaCondensedLight, Arial, "Microsoft YaHei", "Microsoft YaHei Regular", SimHei, "SimHei Regular", sans-serif;
}

/* ==========================================================================
   Menus
   ========================================================================== */
/* line 5, ../../../sass/Smartphone/_menus.scss */
.menuSingleLine, .level-1 li a {
  display: block;
  background-color: #000;
  font-size: 1.9rem;
  padding: 25px 0;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #FFF;
}
/* line 15, ../../../sass/Smartphone/_menus.scss */
.menuSingleLine span, .level-1 li a span, .menuSingleLine a, .level-1 li a a, .menuSingleLine a:hover, .level-1 li a a:hover {
  color: #FFF;
}

/* line 6, ../../../sass/Smartphone/Partials/_susyClasses.scss */
.centralColumn {
  margin: 0 10px;
  display: block;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.centralColumn:after {
  content: "";
  display: table;
  clear: both;
}

/*SPLASH PAGE*/
/* line 11, ../../../sass/smartphone/pages/home.scss */
#splash.page {
  display: block;
  position: relative;
  min-height: 346px;
}

/* line 17, ../../../sass/smartphone/pages/home.scss */
#genderNav {
  position: absolute;
  top: 50%;
  margin-top: -55px;
  width: 100%;
}
/* line 23, ../../../sass/smartphone/pages/home.scss */
#genderNav a {
  display: block;
  border: 5px solid #FFF;
  width: 200px;
  color: #FFF;
  margin: 0 auto;
  font-size: 2.5rem;
  text-align: center;
  padding: 0.6rem 0;
  text-transform: uppercase;
}
/* line 35, ../../../sass/smartphone/pages/home.scss */
#genderNav a:first-child {
  margin-bottom: 30px;
}
/* line 39, ../../../sass/smartphone/pages/home.scss */
#genderNav a:active, #genderNav a:hover {
  background: #FFF;
  color: #000;
}

/*SPLASH PAGE*/
/* line 51, ../../../sass/smartphone/pages/home.scss */
#homeU .banner-slot a, #homeU .banner-slot img, #homeD .banner-slot a, #homeD .banner-slot img {
  display: block;
}

/* line 57, ../../../sass/smartphone/pages/home.scss */
img {
  width: 100%;
}

/* line 61, ../../../sass/smartphone/pages/home.scss */
.page {
  background: #000;
  display: none;
}

/* line 66, ../../../sass/smartphone/pages/home.scss */
.bannerBottom {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.bannerBottom:after {
  content: "";
  display: table;
  clear: both;
}
/* line 69, ../../../sass/smartphone/pages/home.scss */
.bannerBottom .banner-slot {
  width: 50%;
  float: left;
}

/* line 75, ../../../sass/smartphone/pages/home.scss */
.level-1 {
  display: none;
}
/* line 79, ../../../sass/smartphone/pages/home.scss */
.level-1 li a {
  background-color: #666;
  border-bottom: 1px solid #F6F6F6;
}
/* line 86, ../../../sass/smartphone/pages/home.scss */
.level-1 .style_stories {
  display: none;
}
