@import "newsletterPopup";

$section : "footer";

footer#siteFooter{
	margin: 0 10%;
	background-color: $white;
	color: $blackDiesel;
	text-align: center;
	clear: both;
	margin-top: 10px;
	@include bodyStyle($section);
	a{
		color: $black;
	}
	.tabFooter{
		@include microClearfix;
		.titleTabFooter{
			@include H3Style($section);
			color: $blackDiesel;
			height: 40px;
			line-height: 40px;
			border: 2px solid $black;
			display: block;
			cursor: pointer;
			.icon{
				display: none;
			}
		}
		.tabFooterContent{
			display: none;
			.icon:not(.radioIcon){
				display: none;
			}
		}
		&[data-footer="tabWorldDiesel"] .titleTabFooter,
		&[data-footer="tabSubscribe"] .titleTabFooter{ 
			border-top: 0px;
		}
		&[data-footer="tabSocial"]{
			@extend %tabSocialStyle;
		}
		&[data-footer="tabSubscribe"]{
			//da tenere nascosto! attiva la popup newsletter al first landing
			.newsletterLink[data-ytos-ctrl="account.newsletterLink"]{
				display: block;
			}
			.titleTabCommonDesktop{
				display: none;
			}
		}
	}
}

#footerInMenu{
	text-align: center;
	//parte common per mobile animazione menu
	position: relative;
	width: 90%;
	margin: 0 auto;
	.tabFooter{
		@include microClearfix;
		.titleTabFooter{
			@include H3Style($section);
			color: $blackDiesel;
			height: 40px;
			line-height: 40px;
			border: 2px solid $black;
			display: block;
			cursor: pointer;
		}
		.tabFooterContent{
			display: none;
			.icon{
				display: none;
			}
		}
		&[data-footer-menu="tabWorldDiesel"] .titleTabFooter,
		&[data-footer-menu="tabSubscribe"] .titleTabFooter{
			border-top: 0px;
		}
		&[data-footer-menu="tabSocial"]{
			@extend %tabSocialStyle;
			.titleTabFooter .icon{
				display: none;
			}
		}
	}
}

#lateralFooterMobile{
	.lateralFooterElement{
		width: 90%;
		margin: 0 auto;
		.tabLateralFooter{
			display: none;
			.titleTabFooter{
				background-color: $blackDiesel;
				height: 41px;
				@include H2Style($section);
				color: $white;
				margin-bottom: 35px;
				text-align: center;
	  			line-height: 43px;
	  			.ru &, .es &{
					font-size: 14px;
				}
			}
			.tabFooterContent{
				.icon-close{
					display: none;
				}
				.footerColumn{
					.columnTitle{
						height: 40px;
						border-top: 1px solid $light-greyDiesel;
						line-height: 42px;
						@include H3Style($section);
					}
					ul{
						display: none;
						margin: 0 0 15px 35px;
						li a{
							@include H6Style($section);
							text-transform: initial;
							.windowsPhone &{
								text-transform: capitalize;
							}
						}
					}
				}
			}
			&[data-footer-menu-inner="tabWorldDiesel"] .tabFooterContent{
				.columnTitle{
					display: none;
				}
				.footerColumn ul{
					display: block;
				}
			}
		}
	}
}

#copyright{
	width: 100%;
	background-color: $black;
	text-align: left;
	@include bodyStyle($section);
}

@media #{$mediaQueryDesktopCommon} {
	footer#siteFooter{
		width: 100%;
		margin: 0;
		background-color: transparent;
		color: $white;
		margin-top: -38px;
		a{
			color: $white;
		}
		.tabFooter{
			@include microClearfix;
			.titleTabFooter{
				@include H5Style($section);
				color: $white;
				background-color: $black;
				width: 25%;
				text-align: center;
				height: 38px;
				line-height: 40px;
				position: relative;
				top: 2px;
				border: 2px solid $white;
				border-bottom: 0px solid black;
			}
			.tabFooterContent{
				@include microClearfix;
				display: block;
				background-color: $black;
				padding: 40px 0;
				width: 100%;
				border: 2px solid $white;
				.footerColumn{
					display: inline-block;
					float: left;
					height: 220px;
					&:first-child{
						border:none;
					}
					.columnTitle{
						color: $white;
						font-size: 22px;
						@include franklin;
						text-transform: uppercase;
						letter-spacing: 0.075em;
						.icon{
							display: none;
						}
					}
					ul{
						margin-top: 26px;
						li{
							margin-bottom: 15px;
							@include H6Style($section);
						}
					}
				}
			}
			&[data-footer="tabInfoShopping"] .footerColumn{
				width: 33%;
				padding: 0 8%;
				border-left: 1px solid $light-black-border;
				.ru &, .es &, .fr &{
					padding: 0 2%;
				}
			}
			&[data-footer="tabWorldDiesel"], &[data-footer="tabSocial"], &[data-footer="tabSubscribe"]{
				margin-top: -40px;
			}
			&[data-footer="tabWorldDiesel"]{
				.titleTabFooter{
					left: 25%;
					border-top: 2px solid $white;
				}
				.tabFooterContent{
					padding-bottom: 10px;
					.columnTitle{
						color: $white;
						font-size: 22px;
						@include franklin;
						text-transform: uppercase;
						letter-spacing: 0.075em;
					}
					.footerColumn{
						width: 50%;
						ul{
							float: right;
							margin-right: 5%;
						}
						&:last-child ul{
							float: left;
							margin-left: 5%;
						}
					}
				}
			}
			&[data-footer="tabSubscribe"]{
				.newsletterLink[data-ytos-ctrl="account.newsletterLink"]{
					display: none; // solo per tablet e desktop
				}
				.titleTabFooter{
					left: 75%;
					width: 25%;
					border-top: 2px solid $white;
					.titleTabCommonDesktop{
						display: block;
					}
				}
				.footerColumn{
					width: 100%;
					text-align: center;
					.newsletterForm{
						h2{
							margin: 0px;
							font-size: 22px;
							@include franklin;
							text-transform: uppercase;
						}
						.column{
							width: 33.33%;
							display: inline-block;
							float: left;
							padding: 0 2%;
						}
						.description{
							margin: 10px 0 30px 0;
							.ru &{
								margin-bottom: 10px;
								font-size: 12px;
							}
						}
						.disclaimer{
							font-size: 10px;
							a{
								text-decoration: underline;
							}
						}
						#NewsletterViewModel_Email_Wrapper,
						#NewsletterViewModel_Gender_Wrapper{
							margin: 0 auto;
							color: $white;
							.fieldLabel label{
								color: $white;
								margin-bottom: 10px;
							}
						}
						#NewsletterViewModel_Email_Wrapper{
							width: 100%;
							height: 60px;
							input{
								color: $white;
							}
						}
						#NewsletterViewModel_Gender_Wrapper{
							width: 50%;
							margin-top: 30px;
							.radioButtonBox{
								width: 100%;
								text-align: center;
								padding: 5% 10%;
								@include microClearfix();
								label{
									.touch .tablet &, .touch .breakPointCommon &{
				                      padding-top: 4px; // ipad
				                    }
								}
							}
							.ru &{
								width: 60%;
							}
						}
						.buttonsRow button{
							width: 100%;
							&:hover{
								border: 2px solid $white;
							}
						}
					}
				}
				#subscribeNewsletterSuccess li{
					color: $white !important;
				}
			}
		}

		/* CLASSI FOOTER STICKY PER ANIMAZIONE IN HOME */
		&.footerSticky{
			position: fixed;
			bottom: 0;
			width: 100%;
			margin-top: 0px;
			&:not(.almostBottom) .tabFooterSticky[data-footer="tabSubscribe"]{
				.newsletterLink[data-ytos-ctrl="account.newsletterLink"]{
					display: block;
					position: relative;
				    top: -38px;
				    color: black;
				    width: 100%;
				    background-color: white;
				}
			}
		}

		.tabFooterSticky{
			.titleTabFooter{
				height: 40px;
				border-right: 2px solid $light-greyDiesel !important;
				z-index: $z-index-headerElement; //così l'animazione resta dietro
				&.stickyClose{
					border: 0;
  					border-bottom: 2px solid white;
				}
				&.stickyOpen{
	  				border: 2px solid $black !important;	
	  				height: 40px;
	  				line-height: 37px;		
	  			} 
				&.whiteFooter{
					background-color: $white;
					color: $black;
					border: 0px;
				}
			}
			.tabFooterContent{
				background-color: $white;
				position: absolute;
				bottom: 0;
				z-index: $z-index-body;
				&.contentStickyOpen{
					bottom: 37px;
					border-bottom: 4px solid $blackDiesel;	
				}
				.columnTitle, ul li a, .subtitle{
					color: $blackDiesel !important;
				}
				.icon-close{
					display: block !important;
					right: 0;
					top: 44px;
					margin-right: 1%;
					position: absolute;
				}
			}
			&[data-footer="tabSocial"] .titleTabFooter{
				border-bottom: 0px;
			}
		}

		&.footerStickyScrolling .tabFooterSticky .titleTabFooter{
			position: fixed;
			top: calc(100vh - 40px) !important;
		}
	}
	#footerInMenu, #lateralFooterMobile{ display: none; }
}

@media #{$mediaQueryDesktop} {
	footer#siteFooter .tabFooter{
		.tabFooterContent{
			.footerColumn{
				height: 160px;
				.ru &, .es &, .fr &{
					padding: 0 4%;
					ul li{
						margin-bottom: 10px;
					}
				}
			}
		}
		&[data-footer="tabSubscribe"] .footerColumn .newsletterForm{
			#NewsletterViewModel_Gender_Wrapper .radioButtonBox{
				width: 70%;
				margin: 0 auto;
			}
			#NewsletterViewModel_Email_Wrapper, .buttonsRow button{
				width: 50%;
			}
			.buttonsRow button{
				margin-left: 25%;
			}
		}
	}

}

%tabSocialStyle{
	border: 2px solid $black;
	border-top: 0px;
	.titleTabFooter{
		border: 0px;
		margin-bottom: 10px;
	}
	.tabFooterContent{
		display: block;
		.columnTitle{
			display: none;
		}
		ul.followUs{
			li{
				display: inline;
				float: left;
				width: 25%;
				padding: 10px 0 30px 0;
				.icon{
					display: inline-block;
					margin: 0 auto;
				}
				.text{
					display: none;
				}
			}
		}
	}
	@media #{$mediaQueryDesktopCommon} {
		border: 0px;
		.titleTabFooter{
			left: 50%;
			margin-bottom: 0;
			border: 2px solid $white;
			border-bottom: 0px;
		}
		.footerColumn{
			width: 100%;
			.columnTitle{
				display: block;
				span.subtitle{
					display: block;
					@include bodyStyle($section);
					color: $white;
					margin: 16px 0 30px 0;
				}
			}
			ul.followUs{
				width: 50%;
				margin: 0 auto;
				text-align: center;
				li{
					width: 14.28%;
					padding: 0px;
				}
			}
		}
	}
}