// =================
// PASSWORD RECOVERY PAGE STYLES
// =================


#accountNavigationMenu {
	display: none;
}

#container {
	.validation-summary-errors {
		color: $red;
		font-size: $size-medium;
	}
}

#accountTitle {
	h4 {
		display: none;
	}
}

#passwordRecoveryForm  {

	.fieldRow {
		width: 60%;
	}

	h1{
		font-size: $size-huge;
	}

	#passwordRecoverySuccessful {
		font-size: $size-medium;
	}

	form {
		margin-top: 20px;
	}

	#passwordExplanation {
		font-size: $size-small;
		padding: 10px 0;
	}

	button {
		@extend .primary;
		float:right;
		width: 200px;
		margin-bottom: 20px;
	}

}