// ========
// MAGNIFIC POPUP
// ========

.mfp-container { 
	padding: 0 20px; 
}

.mfp-inline-holder, .mfp-ajax-holder {
	.mfp-content {
		width: auto;
		color:$white;
		overflow:hidden;
		background: $color-medium;
		padding: 10px;
	}

	.message {
		.text {  //il mex di conferma e' stampato dentro uno span, tutti gli altri testi sono dentro dei p
		font-size: $size-medium;
	}
}

.inner {
	padding: 20px;
	position: relative;

	.uiLayer-removeSelectedWishListItems { 
			html.RU & {
				> div {font-size: $size-medium;}
			}
		}
	}
}

.mfp-bg {
	opacity: 0.7;
	@include zindex(magnificPopup);
	background-color: $white;
}

.mfp-close-btn-in {
	.mfp-close {
		color:$white;
	}
}

.mfp-iframe-holder {
	.mfp-close {
		top: 0;
	}
}

.mfp-arrow {
	@include opacity(1);
	&:hover, &:focus {
		@include opacity(0.7);
	}
}

.mfp-content button.mfp-close {

	@include imageReplacement();
	@extend %svg-cross;	

	// fix frakked effect by vendor css
	&:active { top: 0px;	}
}

#UiConfirm {
	max-width: 600px;
	min-width: 300px;
	.buttonsRow {
		@include pie-clearfix;
		width: 100%;
		margin: 20px 0 0;
	}

	button {
		float: left;
		width: 47%;
	}

	.cancel {
		margin-right: 3%;
		@extend .secondary;
	}

	.proceed {
		@extend .primary;
		margin-right: 3%;
	}
}

// Regole per contrastare quelle degli errori nelle form

.uiLayer {
	.serverSideErrors {
		color: $white;
		font-size: 100%;
	}
}

// No Delivery Days Info popup in Delivery

.uiLayer-noDeliveryDays {
	.noDeliveryDaysInfo {
		max-width: 500px;
		min-width: 400px;
		font-size: $size-medium;
	}
}



// Warning message for disabled payment methods in Confirmation

.uiLayer-paymentMethods {
	.inner {
		font-size: $size-medium;
	}
}
.mfp-inline-holder {
	h2.title {
		color: $white;
	}
}
// Session login in Delivery
.sessionLogin {
	@extend .column-5;
	@extend .omega;
	@include pie-clearfix;
	

	.logoutBox{
		min-height: 39px;
		a {
			display: block;
		}
	}
	.explanationBox{
		min-height: 100px;
	}
	.buttonsRow {
		@extend .column-2;
		@extend .omega;
		.submit {
			@extend .primary;
			width: 100%;
			margin-top: 23px;
		}
	}
	.validation-summary-errors {
		font-size: 1.6em;
		padding-top: 3px;
		color: $red;
	}
}

// Cvv explanation in Confirmation
.uiLayer-cvvInfoPopup {
	
	.container{
		text-align: center;
		max-width: 500px;
		min-width: 400px;
		font-size: $size-medium;

		.title {
			color: $white;
			font-size: $size-big;
		}

		.description { margin: 10px 0; }
		.cvvExample{ margin-bottom: 10px; }
		.cvvImage{ margin-bottom: 20px; }
	}
}

// Coupon popup (Cart e Confirmation)

.uiLayer-coupon  {
	.inner {
		font-size: $size-medium;
	}
}

// Edit item quantity popup (Cart)
.uiLayer-editItemQuantity {

	.validation-summary-errors {
		font-size: $size-medium;
	}

}

// Gift info popup (Delivery)
.uiLayer-giftDataForm {
	.inner {
		font-size: $size-medium;
		max-width: 500px;
		min-width: 400px;
	}
}

// Recovery Password popup

.uiLayer-salesTaxesDescrPopup {
	font-size: $size-medium;
}

.uiLayer-getRecoveryPassword {
	h1 {
		font-size: $size-giant;
		margin-bottom: $gutter-width;
		color: $white;

		.JP & {
			font-size: $size-huge;
		}
	}

	.fieldRow {
		margin: $gutter-width 0;
	}

	.buttonsRow {
		@include pie-clearfix;
	}

	button {
		@extend .column-2;
		float: right;
		margin: 0;
	}

	.close {
		@extend .secondary;
	}

	.submit {
		@extend .primary;
	}

	.fieldLabel {
		display: none;
	}

	.field-validation-container {
		margin-top: $gutter-width;
	}

	.recoveryPasswordForm {
		max-width: 400px;
		position: relative;
	}

	[data-ytos-action="openLoginLayer"] {
		display: none;
	}

	.serverSideErrors {
		color: $red;
		font-size: $size-medium;
	}
}

.uiLayer-recoveryPasswordForm {
	font-size: $size-medium;
}

.uiLayer-deletePremiereButton {
	font-size: $size-medium;
}

// newsletter layer specific rules
.uiLayer-newsletterLink {
	$central-wrap-spacing: 20px;

	&.mfp-bg {
		@include opacity(0.7);
		background-color: $white;
	}

	button.mfp-close {
		@extend .tertiary;
		margin: 11px;
	}

	.mfp-content {
		@include pie-clearfix;
		@include box-shadow(0px 0px 7px 3px rgba(100,100,100,0.8));
		background-color: $white;
		color: $color-dark;
		padding: 0;
	}

	.mfp-inline-holder {
		.inner {
			padding: 0;
		}
	}

	.nlTopBar {
		background-color: $black;
		height: $header-secondline-height;
		position: relative;

		.icon {
			@extend %svg-logo;
			position: absolute;
			top: 50%;
			margin-top: -($svg-logo-height/2);
			margin-left: 10px;
		}
	}

	.newsletterForm {
		position: relative;
		padding: $central-wrap-spacing 0;

		.DE & {
			min-height: 345px;
		}
		.JP & {
			font-size: 0.8em;
			.disclaimer{
				font-size: 1.5em;
				a{
					font-size: 1.1em;
				}
			}
		}

		.buttonsRow .text {
			
			.US & {font-size: 0.9em;}
			.RU & {font-size: 0.6em; position: relative; top: -2px;}
		}
	}

	.nlLogo {
		width: 100%;
	}

	.banner-nl {
		img {
			display: block;
			margin-left: 24px;
		}
	}

	h2 {
		text-align: center;
		margin-top: 15px;
		line-height: 0.9;
	}

	.description {
		font-size: $size-expanse;
		text-align: center;
		margin: 15px 0;
	}

	button {
		$height: 45px;

		@extend .primary;
		@extend %knockout-bold;
		margin: 0;
		width: 100%;
		font-size: $size-huge;
		height: $height;
		line-height: $height - 2;
	}

	.disclaimer {
		@extend %helvetica;
		position: absolute;
		bottom: $central-wrap-spacing;
		width: 326px;
		color: $color-light;

		font-size: $size-mini;
		line-height: 1.3;
		text-align: center;
	}

	.fieldRow {
		margin-bottom: 5px;
	}

	.loadingLayer {
		position: absolute;
	}

	#NewsletterViewModel_Email{
		text-align: center;
		background-color: $color-ultra;
		font-size: $size-huge;
		height: 28px;
		line-height: normal;
		@extend %knockout-bold;

		background-position: right 12px; //hack momentaneo, finché non avremo le icone grandi

		html.CN &{
			height: 30px;
			line-height: 30px;
		}
	}

	#subscribeNewsletterSuccess {
		@extend .column-8;
		@extend .omega;

		h2 {
			width: 410px;
			margin: 35px auto 30px;
		}

		p, .validation-summary-errors {
			@extend %knockout-bold;
			font-size: $size-huge;
			margin: 0 15px 55px 15px;
			text-align: center;
		}

		p {
			color: $color-medium;
		}

		.validation-summary-errors {
			color: $red;
		}
	}

	label[for="NewsletterViewModel_Email"] {
		display: none;
	}
}

// "zero items in wishlist" popup, and "item added to wishlist" on ie8 popup
#wishlistEmptyLabel, #wishlistItemAdded {
	font-size: $size-large;
	padding: 20px 10px;
}


#secureTransactionPopup {
	.description {
		width: 580px;
		font-size: $size-medium;
		line-height: 1.1;

		a {
			color: $color-extra;

			&:hover {
				color: $white;
			}
		}
	}

	.trustwave {
		cursor: pointer;
		margin-top: 15px;
		display: block;
	}
}


// layer "tempi e costi di spedizione" footer
.uiLayer-shippingLink {
	.shippingReturns {
		width: 500px;
		text-align: left;

		h2 {
			color: $white;
			font-size: $size-huge;
		}

		.contribution {
			@include pie-clearfix;
			border-top: 1px solid $white;
			padding-top: 20px;
			margin-bottom: 20px;
			position: relative;

			&:first-child {
				border-top: none;
			}
		}

		.text {
			float: left;

			.label, .text {
				font-size: $size-medium;
			}
		}

		.ShippingCostsRange {
			font-size: $size-medium;
		}

		.label {
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.costs {
			font-size: $size-medium;
			float: right;
			letter-spacing: 1px;
		}

		.total {
			float: left;
		}

		.discounted {
			text-decoration: line-through;
		}

		.free {
			.currency {display: none;}
		}

		.FeesWarning {
			font-size: $size-midsmall;
			margin-top: 10px;
		}
	}
}


// layer "resi" footer
.uiLayer-returnsLink {
	.ReturnsBody{
		max-width: 600px;

		h2{
			display: none;
		}

		.text{
			font-size:$size-medium;

			a {
				color: $color-extra;
				&:hover{color: $white;}
			}
		}
	}
}

.finalizationWarningMessage, .waitframeLabelMessage {
	font-size:$size-medium;
}


#whyTelephone {
	font-size: $size-medium;
	line-height: 1.1;
	padding: 15px;

	.mfp-close{
		top: 5px;
		right: 5px;
	}
	
}


#editUserPasswordSuccessfull p{
	font-size: $size-large;
}

//Waitframe
.uiLayer-waitMessage {
	.inner {
		font-size: $size-medium;
	}
}