#container {
	@include pie-clearfix;
	.sideMenu {
		background: $color-medium;
		float: left;
		width: 200px;
		ul {
			padding-left: 10px;
		}
		.level-0 > ul {
			padding-left: 0;
			& > li > div:first-child {
				padding: 10px;
			}
		}
		a {
			display: block;
			padding: 10px;
			&:hover {
				background-color: $color-medium;
			}
		}
	}
	main {
		margin-left: 200px;
	}
}