// ===========================================================
// MAIN SITE FILE, INCLUDED IN EVERY PAGE OF ECOMMERCE SECTION 
// ===========================================================

// Compass
@import "compass/utilities/general/min";


// Vendor elements
@import "Vendor/reset";
@import "Vendor/magnific";
@import "Desktop/Vendor/jquery.qtip";


// Commons
@import "variables";
@import "fonts";
@import "Desktop/callToActions";



// Libraries
@import "Desktop/Partials/sprites";
@import "Desktop/Partials/susyClasses";
@import "Desktop/Vendor/svgzr/sprites-svg";
@import "Desktop/Vendor/svgzr/sprites-fallback";


// Site.scss-only partials
@import "Site/helpers";
@import "Desktop/Partials/Site/thecorner";
@import "Desktop/Partials/Site/prices";
@import "Desktop/Partials/Site/svg";
@import "Desktop/Partials/Site/loading"; // Non custom!
@import "Desktop/Partials/Site/loadingTopBar";
@import "Desktop/Partials/Site/nicescroll";
@import "Desktop/Partials/Site/forms";
@import "Desktop/Partials/Site/commonQTip";
@import "Desktop/Partials/Site/magnificPopup";
@import "Desktop/Partials/Site/ipadNative";


// Sections
@import "Desktop/Partials/Site/header";
@import "Desktop/Partials/Site/footer";


// Specific pages
@import "Desktop/Partials/Site/404";


// Media queries
@import "Desktop/Partials/site/printMediaQuery";

.trustwave .image {
	@extend .sprites-desktop-seal;
	display: block;
}

/*
	Per bloccare un iframe di mythings spesso 1px che inserisce una banda bianca in fondo alla pagina
	http://bugtracker/view.php?id=188454
*/
#tc_iframe__1 {
	display: none;
}