@charset "UTF-8";
/*
    zindex
    Mixin di definizione e utilizzo degli z-index.

    La lista $indexes è crescente dall'alto al basso, e i suoi elementi andranno espressi al momento dell'uso del mixin.
    Ovviamente l'uso da farne è di tipo semantico, per evitare l'espressione di numeri casuali all'interno dei vari css.

*/
/* effetto height:100% sugli elementi flottanti */
@font-face {
  font-family: 'KnockoutLight';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.svg#KnockoutLight") format("svg");
}
@font-face {
  font-family: 'KnockoutRegular';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.svg#KnockoutRegular") format("svg");
}
@font-face {
  font-family: 'HelveticaCondensedLight';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.svg#KnockoutRegular") format("svg");
}
@font-face {
  font-family: 'HelveticaCondensedBold';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.svg#KnockoutRegular") format("svg");
}
@font-face {
  font-family: 'LatoRegular';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.svg#LatoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBold';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.svg#LatoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 92, ../../../sass/_fonts.scss */
.RU button, .RU .button, .RU #landing.irisvanherpen .btnShop, #landing.irisvanherpen .RU .btnShop, .RU #landing.irisvanherpen .disclaimer1, #landing.irisvanherpen .RU .disclaimer1, .RU #landing.irisvanherpen .bodyWrapper .disclaimer2, #landing.irisvanherpen .bodyWrapper .RU .disclaimer2 {
  font-family: Arial, Verdana, sans-serif;
}

/* line 101, ../../../sass/_fonts.scss */
button, .button, #landing.irisvanherpen .btnShop {
  font-family: KnockoutLight, Arial, Verdana, sans-serif;
  font-weight: normal;
}
/* line 105, ../../../sass/_fonts.scss */
.JP button, .JP .button, .JP #landing.irisvanherpen .btnShop, #landing.irisvanherpen .JP .btnShop {
  font-family: KnockoutLight, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}
/* line 106, ../../../sass/_fonts.scss */
.CN button, .CN .button, .CN #landing.irisvanherpen .btnShop, #landing.irisvanherpen .CN .btnShop {
  font-family: KnockoutLight, HelveticaCondensedLight, Arial, "Microsoft YaHei", "Microsoft YaHei Regular", SimHei, "SimHei Regular", sans-serif;
}

/* line 135, ../../../sass/_fonts.scss */
#landing.irisvanherpen .disclaimer1, #landing.irisvanherpen .bodyWrapper .disclaimer2, #landing.irisvanherpen .btnShop {
  font-family: LatoRegular, Arial, Verdana, sans-serif;
  font-weight: normal;
}
/* line 139, ../../../sass/_fonts.scss */
.JP #landing.irisvanherpen .disclaimer1, #landing.irisvanherpen .JP .disclaimer1, .JP #landing.irisvanherpen .bodyWrapper .disclaimer2, #landing.irisvanherpen .bodyWrapper .JP .disclaimer2, .JP #landing.irisvanherpen .btnShop, #landing.irisvanherpen .JP .btnShop {
  font-family: LatoRegular, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}

/* ==========================================================================
   CALL TO ACTIONS
   Use with:

	@extend button				(extends button rules)
	@extend .secondary			(extends .secondary rules)
	@extend button.secondary	(extends .secondary rules, not button's)
	@extend .ugly-button		(extends .ugly-button rules)

	NOTE: THESE ARE CLASSES.
	THEY WILL BE REPLICATED FOR EACH TIME THEY'RE INCLUDED.
	Include this only when is necessary.
	Include this in scss PARENTS ONLY.

	========================================================================== */
/* line 89, ../../../sass/Desktop/_callToActions.scss */
button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  font-size: 1.6em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}

/* line 93, ../../../sass/Desktop/_callToActions.scss */
.button, #landing.irisvanherpen .btnShop {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  font-size: 1.6em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
  height: 38px;
}

/* line 99, ../../../sass/Desktop/_callToActions.scss */
button.primary, #landing.irisvanherpen button.btnShop, .button.primary, #landing.irisvanherpen .btnShop {
  background-color: #000;
  color: #FFF;
  border-color: #000;
}
/* line 49, ../../../sass/Desktop/_callToActions.scss */
button.primary:hover, #landing.irisvanherpen button.btnShop:hover, .button.primary:hover, #landing.irisvanherpen .btnShop:hover {
  background-color: #999;
  border-color: #999;
}
/* line 103, ../../../sass/Desktop/_callToActions.scss */
button.secondary, .button.secondary, #landing.irisvanherpen .secondary.btnShop {
  background-color: #EBEBEB;
  color: #333;
  border-color: #CCC;
}
/* line 60, ../../../sass/Desktop/_callToActions.scss */
button.secondary:hover, .button.secondary:hover, #landing.irisvanherpen .secondary.btnShop:hover {
  background-color: #FFF;
}
/* line 107, ../../../sass/Desktop/_callToActions.scss */
button.tertiary, .button.tertiary, #landing.irisvanherpen .tertiary.btnShop {
  background: none;
  border: 0;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
  text-decoration: underline;
}
/* line 111, ../../../sass/Desktop/_callToActions.scss */
button.disabled, button[disabled], .button.disabled, #landing.irisvanherpen .disabled.btnShop, .button[disabled], #landing.irisvanherpen [disabled].btnShop {
  background-color: #FFF;
  color: #EBEBEB;
  border-color: #EBEBEB;
  cursor: default;
}
/* line 83, ../../../sass/Desktop/_callToActions.scss */
button.disabled:hover, button[disabled]:hover, .button.disabled:hover, #landing.irisvanherpen .disabled.btnShop:hover, .button[disabled]:hover, #landing.irisvanherpen [disabled].btnShop:hover {
  background-color: #FFF;
  border-color: #EBEBEB;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-1 {
  width: 74px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-2 {
  width: 158px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-3 {
  width: 242px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-4 {
  width: 326px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-5 {
  width: 410px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-6 {
  width: 494px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-7 {
  width: 578px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-8 {
  width: 662px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-9 {
  width: 746px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-10 {
  width: 830px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-11 {
  width: 914px;
  float: left;
  margin-right: 10px;
}

/* line 20, ../../../sass/Desktop/Partials/_susyClasses.scss */
.column-12 {
  width: 998px;
  float: left;
  margin-right: 10px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-1 {
  padding-left: 84px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-2 {
  padding-left: 168px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-3 {
  padding-left: 252px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-4 {
  padding-left: 336px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-5 {
  padding-left: 420px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-6 {
  padding-left: 504px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-7 {
  padding-left: 588px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-8 {
  padding-left: 672px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-9 {
  padding-left: 756px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-10 {
  padding-left: 840px;
}

/* line 34, ../../../sass/Desktop/Partials/_susyClasses.scss */
.prefix-11 {
  padding-left: 924px;
}

/* line 46, ../../../sass/Desktop/Partials/_susyClasses.scss */
.omega {
  margin-right: 0 !important;
}

/* line 56, ../../../sass/Desktop/Partials/_susyClasses.scss */
.centralColumn {
  *zoom: 1;
  width: 998px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.centralColumn:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../../../sass/desktop/pages/landing.scss */
#landing.irisvanherpen #videoWrapper {
  width: 998px;
  height: 695px;
}
/* line 17, ../../../sass/desktop/pages/landing.scss */
#landing.irisvanherpen #videoWrapper .coverImag {
  width: 998px;
  height: 695px;
  position: absolute;
  cursor: pointer;
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/irisvideo_desk_uk.jpg?v={$i}");
}
/* line 23, ../../../sass/desktop/pages/landing.scss */
.CN #landing.irisvanherpen #videoWrapper .coverImag {
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/irisvideo_desk_cn.jpg?v={$i}");
}
/* line 24, ../../../sass/desktop/pages/landing.scss */
.DE #landing.irisvanherpen #videoWrapper .coverImag {
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/irisvideo_desk_de.jpg?v={$i}");
}
/* line 25, ../../../sass/desktop/pages/landing.scss */
.ES #landing.irisvanherpen #videoWrapper .coverImag {
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/irisvideo_desk_es.jpg?v={$i}");
}
/* line 26, ../../../sass/desktop/pages/landing.scss */
.FR #landing.irisvanherpen #videoWrapper .coverImag {
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/irisvideo_desk_fr.jpg?v={$i}");
}
/* line 27, ../../../sass/desktop/pages/landing.scss */
.IT #landing.irisvanherpen #videoWrapper .coverImag {
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/irisvideo_desk_it.jpg?v={$i}");
}
/* line 28, ../../../sass/desktop/pages/landing.scss */
.JP #landing.irisvanherpen #videoWrapper .coverImag {
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/irisvideo_desk_jp.jpg?v={$i}");
}
/* line 29, ../../../sass/desktop/pages/landing.scss */
.RU #landing.irisvanherpen #videoWrapper .coverImag {
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/irisvideo_desk_ru.jpg?v={$i}");
}
/* line 30, ../../../sass/desktop/pages/landing.scss */
.GB #landing.irisvanherpen #videoWrapper .coverImag {
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/irisvideo_desk_uk.jpg?v={$i}");
}
/* line 32, ../../../sass/desktop/pages/landing.scss */
#landing.irisvanherpen #videoWrapper .videoContainer {
  width: 998px;
  height: 695px;
}
/* line 37, ../../../sass/desktop/pages/landing.scss */
#landing.irisvanherpen .disclaimer1 {
  padding: 40px;
  color: #666;
  font-size: 1.6em;
  line-height: 26px;
  text-align: center;
}
/* line 44, ../../../sass/desktop/pages/landing.scss */
.RU #landing.irisvanherpen .disclaimer1 {
  font-size: 2em;
}
/* line 46, ../../../sass/desktop/pages/landing.scss */
#landing.irisvanherpen .bodyWrapper {
  width: 998px;
  height: 2425px;
  display: block;
  background-image: url("//ytos-resources-eu-west-1-183330696032.s3.amazonaws.com/ytos/resources/THECORNER/landing/iris-van-herpen/iris_bgdesk.jpg?v={$i}");
}
/* line 51, ../../../sass/desktop/pages/landing.scss */
#landing.irisvanherpen .bodyWrapper .disclaimer2 {
  width: 340px;
  height: 375px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #666;
  font-size: 2.0em;
  line-height: 35px;
  letter-spacing: 4px;
  padding-left: 40px;
  text-transform: uppercase;
}
/* line 64, ../../../sass/desktop/pages/landing.scss */
.DE #landing.irisvanherpen .bodyWrapper .disclaimer2 {
  font-size: 1.8em;
}
/* line 65, ../../../sass/desktop/pages/landing.scss */
.FR #landing.irisvanherpen .bodyWrapper .disclaimer2 {
  font-size: 1.8em;
}
/* line 68, ../../../sass/desktop/pages/landing.scss */
#landing.irisvanherpen .btnShop {
  height: 65px;
  line-height: 65px;
}
