@charset "UTF-8";
/*
    zindex
    Mixin di definizione e utilizzo degli z-index.

    La lista $indexes è crescente dall'alto al basso, e i suoi elementi andranno espressi al momento dell'uso del mixin.
    Ovviamente l'uso da farne è di tipo semantico, per evitare l'espressione di numeri casuali all'interno dei vari css.

*/
/* effetto height:100% sugli elementi flottanti */
@font-face {
  font-family: 'KnockoutLight';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knoc29jl.svg#KnockoutLight") format("svg");
}
@font-face {
  font-family: 'KnockoutRegular';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/knock49l.svg#KnockoutRegular") format("svg");
}
@font-face {
  font-family: 'HelveticaCondensedLight';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_light-webfont.svg#KnockoutRegular") format("svg");
}
@font-face {
  font-family: 'HelveticaCondensedBold';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.woff") format("woff"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/helvetica_condensed_bold-webfont.svg#KnockoutRegular") format("svg");
}
@font-face {
  font-family: 'LatoRegular';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-regular-webfont.svg#LatoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBold';
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.eot");
  src: url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.woff2") format("woff2"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.ttf") format("truetype"), url("//media.yoox.biz/ytos/resources/THECORNER/font/lato-bold-webfont.svg#LatoBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.RU button, .RU .button, .CN #moreCountries, .RU #moreCountries {
  font-family: Arial, Verdana, sans-serif;
}

.RU .nations {
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
}

button, .button {
  font-family: KnockoutLight, Arial, Verdana, sans-serif;
  font-weight: normal;
}
.JP button, .JP .button {
  font-family: KnockoutLight, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}
.CN button, .CN .button {
  font-family: KnockoutLight, HelveticaCondensedLight, Arial, "Microsoft YaHei", "Microsoft YaHei Regular", SimHei, "SimHei Regular", sans-serif;
}

.nations {
  font-family: KnockoutRegular, Arial, Verdana, sans-serif;
  font-weight: normal;
}
.JP .nations {
  font-family: KnockoutRegular, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
}
.CN .nations {
  font-family: KnockoutLight, HelveticaCondensedLight, Arial, "Microsoft YaHei", "Microsoft YaHei Regular", SimHei, "SimHei Regular", sans-serif;
}

#moreCountries {
  font-family: HelveticaCondensedLight, Arial, Verdana, sans-serif;
  font-weight: normal;
}

/* ==========================================================================
   CALL TO ACTIONS
   Use with:

	@extend button				(extends button rules)
	@extend .secondary			(extends .secondary rules)
	@extend button.secondary	(extends .secondary rules, not button's)
	@extend .ugly-button		(extends .ugly-button rules)

	NOTE: THESE ARE CLASSES.
	THEY WILL BE REPLICATED FOR EACH TIME THEY'RE INCLUDED.
	Include this only when is necessary.
	Include this in scss PARENTS ONLY.

	========================================================================== */
button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  font-size: 1.6em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}

.button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: block;
  font-size: 1.6em;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 40px;
  height: 38px;
}

button.primary, .otherCountriesLayer button, .button.primary {
  background-color: #000;
  color: #FFF;
  border-color: #000;
}
button.primary:hover, .otherCountriesLayer button:hover, .button.primary:hover {
  background-color: #999;
  border-color: #999;
}
button.secondary, .button.secondary {
  background-color: #EBEBEB;
  color: #333;
  border-color: #CCC;
}
button.secondary:hover, .button.secondary:hover {
  background-color: #FFF;
}
button.tertiary, .button.tertiary {
  background: none;
  border: 0;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
  text-decoration: underline;
}
button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background-color: #FFF;
  color: #EBEBEB;
  border-color: #EBEBEB;
  cursor: default;
}
button.disabled:hover, button[disabled]:hover, .button.disabled:hover, .button[disabled]:hover {
  background-color: #FFF;
  border-color: #EBEBEB;
}

#mapcontainer {
  padding-top: 32px;
}

.nations {
  font-size: 1.8em;
  text-transform: uppercase;
}
.nations li {
  line-height: 29px;
}

h1 {
  color: #999;
  font-size: 4em;
  padding-bottom: 15px;
}

#moreCountries {
  margin-bottom: 13px;
  padding: 13px 0 0;
  color: #999;
  font-size: 1.2em;
}

.fieldLabel {
  display: none;
}

.otherCountriesLayer {
  width: 380px;
  height: 300px;
  margin: 15px;
}
.otherCountriesLayer .intro {
  margin-bottom: 10px;
}
.otherCountriesLayer .intro .text {
  font-size: 1.6em;
}
.otherCountriesLayer button {
  width: 100%;
  margin-top: 20px;
}
